body
	font-family 'Staatliches', cursive

.test-class
	text-align center
	font-size 30px
	font-weight 100

.block-img
	text-align right

.block-img img
	width 300px
	padding-right 40px

.block-content
	display table
	width 100%

.block-content div
	display table-cell
	width 50%
	vertical-align top

.content-text
	max-width 400px
	margin-top 0px
